*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: serif;
    text-align: left;
}

header{
    background-image: url("../img/pattern.png");
    background-color: #4EA0FF;
    padding-top: 30px;
    background-size: 350px;
    margin-bottom: 20px;
}

section{
    margin-bottom: 20px;
}

.subtitle{
    color: gray;
    font-weight: normal;
}

h4 strong{
    color:#2DAEE6;
    font-weight: normal;
}

p strong{
    font-weight: normal;
    background-color: yellow;
}

.colonna1, .colonna2{
    width: 25%;
}

.colonna3{
    width: 50%;
}

thead{
    background-color: #20A9E5;
}

.rigadispari{
    background-color: #B1E5F2;
}

table{
    padding-left: 10px;
    padding-right: 10px;
}

.footer{
    color: white;
    background-size: contain;
    background-repeat: no-repeat;
    width: 200px;
    height: 160px;
}

#foot1{
    background-image: url("../img/monitor.jpg")
}

#foot2{
    background-image: url("../img/graph.jpg");
}